*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
            
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: Arial, sans-serif;
        }
        #landingPage{
            height: 100%vh;
            width: 100vw;
            padding-bottom: 5vw;
        }
.container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 100vh;
            padding: 20px;
            padding-bottom: 0;
            box-sizing: border-box;
            overflow: hidden;
}
 h1 {
    
    font-family: "press Start 2P";
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
            color: #8756c1;
            padding: 20px 0;
            font-size: 44px;
            text-align: center;
            animation: animate 1s ease-in-out infinite;
 }

        p{
            width: fit-content;
            font-size: 25px;
        }
        .image-container {
            width: 100%;
            max-width: 300px;
            aspect-ratio: 1 / 1;
                display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
        }
        .image-container img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
        .login-button {
            color: #8756c1;
                 padding: 12px 20px;
            font-size: 25px;
            cursor: pointer;
            border-radius: 15px;
        }
        h4 {
            font-family: 'New Amsterdam', cursive; /* Change to your preferred font */
            font-size: 25px; /* Adjust size as needed */
            font-weight: bold; /* or 'normal', 'lighter', etc. */
            color: #333; /* Change to your preferred color */
            text-align: center; /* Center align the text */
            animation: text 10s 1;
          }

@keyframes animate{
    0%{
        transform: translateY(0px);
    }
    10%{
        transform: translateY(-1px);
    }
    20%{
        transform: translateY(-1px);

    }
    30%{ 
        transform: translateY(0px);
    }
}
@keyframes text{
    0%{
        color: #8756c1;
    }
    30%{
        letter-spacing: 2px;
    }
    85%{
        letter-spacing: 1px;
    }
}